{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "importOrder": ["^(?:@[^/].*|[A-Za-z].*)$", "^@/.*$", "^[./].*$"],
  "importOrderSortSpecifiers": true,
  "tailwindStylesheet": "./src/styles/globals.css",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "endOfLine": "auto"
}
